<section class="mainBody">
    
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-1 sideBars">
        </div>

        <div class="col-lg-10">

              <div class="row mt-5">

                <div class="col-lg-4 text-center latestSideSection">
                    <h2 class="subSection display-6 mb-3">Latest</h2>

                    <% latestArticles.forEach(article => { %>
                        <div class="latestCard row ms-1 me-1">
                          <div class="col-4">
                            <img src="<%= article.featuredImage %>" class="imgCard latestSectionImg">
                          </div>
                          <div class="col-8 text-start">
                            <a href="/<%= article.category %>/articles/<%= article._id %>" class="title"><%= article.title %></a>
                          </div>
                        </div>
                      <% }); %> 


                </div>

                <div class="col-lg-8">
                    <div class="articleIntro position-relative d-flex">
                        <img src="<%= article.featuredImage %>" class="position-absolute z-n1 articleBG">
                        <div class="introContainer d-flex flex-column justify-content-end">
                            <h1 class="introArticle display-4 fw-semibold mb-3 <%= article.category === 'Games' ? 'introArticleG' : 'introArticleA' %>"><%= article.title %></h1>
                            <p class="subArticle"><%= article.subtitle %></p>
                        </div>
                    </div>
                    <hr>
                    <div class="articleText p-4">
                        <% article.body.forEach(paragraph => { %>
                            <p class="articlePara mt-3"><%= paragraph %></p>
                        <% }); %>
                    </div>
                </div>                
                
            </div>
        </div>

        <div class="col-lg-1 sideBars">
        </div>

      </div>

  </div>
  </section>