   <section id="hero" class="mainHero position-relative shadow-custom2">
      <div class="container-fluid heroSection z-n1 position-absolute d-flex align-items-center">
        <div class="wave">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
      </div>
        <div class="row z-n2 position-absolute">
          <div class="col-lg-6">
            <img src="assets/bg1.png" class="imgHero set1 astronaut">
          </div>
          <div class="col-lg-6 d-flex justify-content-end">
            <img src="assets/bg2.png" class="imgHero set2 makima">
          </div>
        </div>
        <div class="row z-n1 position-absolute">
          <div class="col-lg-6">
            <img src="assets/cloud1.png" class="cloudHero set1 purpleClouds">
          </div>
          <div class="col-lg-6 d-flex justify-content-end">
            <img src="assets/cloud2.png" class="cloudHero set2 redClouds">
          </div>
        </div>
      </div>
      <div class="container heroText min-vh-100 d-flex justify-content-center text-center align-items-center">
        <div class="row">
          <div class="col-lg-6 spotlightSection">
            <h1 class="fw-semibold display-6 mb-3 text-with-border">SPOTLIGHT</h1>
            <div class="hoverCard spotlight" style="background-image: url('<%= latestArticles[0].featuredImage %>');">
              <div class="cardContent">
                  <a href="/<%= latestArticles[0].category %>/articles/<%= latestArticles[0]._id %>" class="articleTitle"><%= latestArticles[0].title %></a>
                  <p class="articleSubtitle"><%= latestArticles[0].subtitle %></p>
              </div>
          </div>
          
          </div>
          <div class="col-lg-6">
            <h1 class="fw-semibold display-1 text-with-border">ROOK</h1>
            <h2 class="display-6 mt-4 mb-5 ">DISCOVER THE HAPPENINGS IN THE ANIME AND GAMING INDUSTRIES!</h2>
            <a href="#latestSection" class="scroll"> Scroll</a>
          </div>
        </div>
      </div>
    </section>

    <section class="mainBody">
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-1 sideBars">
          </div>
          <div class="col-lg-10">
            <section id ="latestSection" class="section-padding">
              <div class="container">  
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                      <div class="sectionTitle">
                        <h2 class="display-4 fw-semibold">Latest</h2>
                        <div class="line"></div>
                        <p>The Latest Happenings!</p>
                      </div>
                  </div>
                  <div class="container">
                    <div class="owl-carousel owl-theme" data-items="1">
                        <div class="item">
                            <div class="row g-0">
                                <% latestArticles.forEach(function(article, index) { %>
                                    <% if (index === 0) { %>
                                        <div class="col-6 g-0">
                                    <% } else if (index === 1){ %>
                                        <div class="col-6">
                                    <% } else { %>
                                        <div class="col-4">
                                    <% } %>
                                        <div class="hoverCard" style="background-image: url('<%= article.featuredImage %>');">
                                            <div class="cardContent">
                                                <a href="/<%= article.category %>/articles/<%= article._id%>" class="articleTitle"><%= article.title %></a>
                                                <p class="articleSubtitle"><%= article.subtitle %></p>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>                
                </div>
            </section>
            <section id ="animeSection" class="section-padding">
              <div class="container">  
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                      <div class="sectionTitle anime">
                        <h2 class="display-4 fw-semibold">Anime</h2>
                        <div class="line"></div>
                        <p>Find out what's happening in the Anime Suburbs!</p>
                      </div>
                  </div>
                  <div class="container">
                    <div class="owl-carousel owl-theme" data-items="10">
                      <% animeArticles.forEach((article) => { %>
                          <div class="ms-1 me-1">
                              <div class="card">
                                  <img src="<%= article.featuredImage %>" class="animeImgCard">
                                  <div class="textHolder">
                                      <a href="/<%= article.category %>/articles/<%= article._id %>" class="title animeT"><%= article.title %></a>
                                      <p class="subtitle"><%= article.subtitle %></p>
                                  </div>
                              </div>
                          </div>
                      <% }); %>
                  </div>                  
                    </div>
                  </div>
                </div>
            </section>
            <section id ="gamingSection" class="section-padding">
              <div class="container">  
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                      <div class="sectionTitle gaming">
                        <h2 class="display-4 fw-semibold">Gaming</h2>
                        <div class="line"></div>
                        <p class="sectionSub">Find out the Latest Patches, and News related to Gaming!</p>
                      </div>
                  </div>
                  <div class="container">
                    <div class="owl-carousel owl-theme" data-items="10">
                      <% gamesArticles.forEach((article) => { %>
                          <div class="ms-2 me-2">
                              <div class="card">
                                  <img src="<%= article.featuredImage %>" class="gameImgCard">
                                  <div class="textHolder">
                                      <a href="/<%= article.category %>/articles/<%= article._id %>" class="title gameT"><%= article.title %></a>
                                      <p class="subtitle"><%= article.subtitle %></p>
                                  </div>
                              </div>
                          </div>
                      <% }); %>
                  </div>
                  
                    </div>
                  </div>
                </div>
            </section>

          </div>
          <div class="col-lg-1 sideBars">
          </div>
        </div>
    </div>
    </section>

    <script src="assets/JQuery/owl.carousel.min.js"></script>
    <script src="scripts/lpScript.js"></script>